*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header pagina */

#titolo-pagina{
    display: inline-block;
    margin-top: 20;
    font-size: 2em;
    vertical-align: middle;
}

/* Fine Header pagina */

/* Sottosfondo main */
#sottosfondo-main{
    height: 800px;
    background-color: lightblue;
    padding-top: 50px;
}
/* Fine Sottosfondo Main */

/* inizio main */
.finestra-grande{
    width: 80%;
    height: 90%;
    background-color: white;
    margin: auto;
}

#header-main{
    height: 50px;
    padding-top: 20px;
    padding-left: 30px;
}

#linea-header-body{
    height: 3px;
    background-color: lightblue;
    border-color: lightblue;
}

/* Button */
.button{
    border-radius: 5px;
    font-size: xx-small;
}

#button1{
    height: 20px;
    background-color: rgba(71,173,241,255);
    color: white;
}

#button2{
    height: 20px;
    color: gray;
}
/* fine button */

/* body main */

#body-main{
    padding-left: 50px;
}

.simbolov{
    display: inline-block;
    border-radius: 50% 50%;
    width: 25px;
    height: 25px;
    border: 1px;
    /* background-color: white; */
    border: 1px solid green;
    text-align: center;
    line-height: 25px;
    color: green;
}

.simbolox{
    display: inline-block;
    border-radius: 50% 50%;
    width: 25px;
    height: 25px;
    border: 1px;
    /* background-color: white; */
    border: 1px solid red;
    text-align: center;
    line-height: 25px;
    color: red;
}

.celeste{
    background-color: rgba(69,171,234,255);
}

#viola{
    background-color: #9c72e4;
}

#verde{
    background-color: #64c0a9;
}

#giallo{
    background-color: #f29e33;
}

#lilla{
    background-color: #d863a1;
}

#verde-chiaro{
    background-color: rgba(176,201,38,255);
}

.casellacol{
    border-radius: 30%;
    width: 50%;
    height: 50%;
}


/* Fine body main*/

/* fine main */